ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(22, 132, 206);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 48px;
  }
  
  li a:hover {
    background-color: #111;
  }

  body {
    background-color: lightskyblue;
}
h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
}


div {
  background-color: white;
  width: 1000px;
  height: 1000px;
  border: 15px solid lightskyblue;
  padding: 50px;
  margin: auto;
  
  
}
.tools {
  background-color: white;
  width: 1000px;
  height: 1000px;
  border: 15px solid lightskyblue;
  padding: 50px;
  margin: auto;
  font-family: sans-serif;
  
  
}

.profile {
  background-color: white;
  width: 1000px;
  height: 2000px;
  border: 15px solid lightskyblue;
  padding: 50px;
  margin: auto;
  
  
}

.project {
  background-color: white;
  width: 1000px;
  height: 4000px;
  border: 15px solid lightskyblue;
  padding: 50px;
  margin: auto;
  font-family: sans-serif;
  
  
}

.navBar {
  background-color: #169be8;
  overflow: hidden;
  height: 20px;
}


.navBar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}


.navBar a:hover {
  background-color: #ddd;
  color: black;
}


.navBar a.active {
  background-color: lightskyblue;
  color: white;
}

.logo {
  position: relative;
  top: -20px;
  left: -30px;
}

table, th, td {
  border: 1px solid black;
}
